<div class="row" style="text-align: center">
  <div class="col-3"></div>
  <div
    class="col-6 titre-list"
    (dblclick)="modifie()"
    *ngIf="!modificationState"
  >
    {{ liste.nom }}
  </div>
  <input
    *ngIf="modificationState"
    (keydown.enter)="modifie()"
    type="text"
    value="{{ liste.nom }}"
    [(ngModel)]="this.liste.nom"
  /><br />
  <div class="col-3">
    <div (click)="deleteList(liste)" class="btn btn-danger btn-sm">
      <i class="fa-solid fa-trash"></i>
    </div>
  </div>
</div>
<div class="row">
  <div class="col" *ngFor="let carte of liste.cartes">
    <app-card [card]="carte"></app-card>
  </div>
</div>
<div class="row" style="text-align: center">
  <div class="col">
    <div (click)="ajoutCard()" class="btn btn-success">
      <i class="fa-solid fa-plus"></i> Tache
    </div>
  </div>
</div>
