<div *ngIf="!modificationState">
  <h1 (dblclick)="modifie()">{{ liste.nom }}</h1>
</div>
<div *ngIf="modificationState">
<input (keydown.enter)="modifie()"
  type="text"
  value="{{liste.nom}}"
  [(ngModel)]="this.liste.nom"
/><br />
</div>

<button class="modif" (click)="deleteList(liste)">❌</button>
<button class="modif" (click)="modifie()">🖍</button>
<br>
<div class="CardContainer" *ngFor="let carte of liste.cartes">
  <app-card [card]="carte"></app-card>
</div>
<button (click)="ajoutCard()">➕ Add Card</button>
