<div *ngIf="!modificationState">
  <p>{{ card.titre }}</p>
  <p>{{ card.description }}</p>
</div>
<div *ngIf="modificationState">
  <input
    type="text"
    value="{{ card.titre }}"
    [(ngModel)]="this.card.titre"
  /><br />
  <input
    type="text"
    value="{{ card.description }}"
    [(ngModel)]="this.card.description"
  /><br />
</div>
<button class="modif" (click)="deleteCard(card)">❌</button>
<button class="modif" (click)="modifie()">🖍</button>
<div class="CommentContainer" *ngFor="let comment of card.commentaires">
  <app-comment [comment]="comment"></app-comment>
</div>
