<div class="grey-bg">
  <div class="row p-t-2" style="text-align: center">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="row">
        <div class="col titre-project">
          {{ currentProject.nom }}
        </div>
      </div>
      <div class="row">
        <div class="col description-projet">
          {{ currentProject.description }}
        </div>
      </div>
    </div>
    <div class="col-3">
      <div
        *ngIf="currentProject.listes.length < 3"
        (click)="ajoutList()"
        class="btn btn-success"
      >
        <i class="fa-solid fa-plus"></i> Liste
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div
    class="col-4 col-lg-3"
    *ngFor="let liste of currentProject.listes; let i = index"
    id="project"
  >
    <div class="row">
      <div class="col" *ngIf="i < 3">
        <app-list [liste]="liste"></app-list>
      </div>
    </div>
  </div>
</div>
